# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv('city_data.csv')

In [3]:
city_df = city_df.drop(columns = ['Unnamed: 0'])

In [4]:
city_df = city_df.set_index(['City_Name'])

In [5]:
city_df.head(1)

,Lat,Lon,Max_Temp,Humidity,Clouds,Wind_Speed,Country,Date
City_Name,,,,,,,,
Port Alfred,-33.59,26.89,57.94,71,0,14.32,ZA,1598572677

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=g_key)

In [7]:
locations = city_df[['Lat', 'Lon']]

In [8]:
humidity_rating = city_df['Humidity']

In [9]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights= humidity_rating,
                                 dissipating=False, max_intensity=100,
                                 point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
vaca_df = city_df.loc[city_df['Max_Temp'] <= 90]

In [11]:
vaca_df = vaca_df.loc[vaca_df['Humidity'] <= 40]

In [12]:
vaca_df = vaca_df.loc[vaca_df['Wind_Speed'] <= 10]

In [13]:
vaca_df = vaca_df.loc[vaca_df['Clouds'] <= 30]

In [14]:
vaca_df

,Lat,Lon,Max_Temp,Humidity,Clouds,Wind_Speed,Country,Date
City_Name,,,,,,,,
Aranos,-24.13,19.12,49.86,37,0,6.44,NaN,1598572689
Kalispell,48.20,-114.31,82.40,18,1,8.05,US,1598572696
Karratha,-20.74,116.85,81.30,28,0,4.63,AU,1598572696
Shādegān,30.65,48.66,89.60,37,0,6.93,IR,1598572696
Sabzawār,36.21,57.68,59.56,37,0,7.67,IR,1598572701
Nushki,29.55,66.02,69.66,23,0,2.80,PK,1598572706
Werda,-25.27,23.28,53.71,37,0,4.43,BW,1598572706
Kaeo,-35.10,173.78,62.01,3,11,5.01,NZ,1598572708
Osoyoos,49.03,-119.45,89.60,28,20,8.05,CA,1598572722
Riyadh,24.69,46.72,82.40,30,0,4.59,SA,1598572478
Cavalcante,-13.80,-47.46,71.15,23,15,5.79,BR,1598572740
Kharan,28.58,65.42,80.24,17,0,8.01,PK,1598572748
Tabas,33.60,56.92,75.20,15,0,4.70,IR,1598572749
Ngunguru,-35.62,174.50,62.01,3,8,5.01,NZ,1598572760
‘Ewa Beach,21.32,-158.01,89.60,40,1,8.05,US,1598572513
Sohag,26.56,31.69,80.60,32,0,5.82,EG,1598572765

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [56]:
hotel_df = pd.DataFrame

In [68]:
for city in vaca_df:
    # geocoordinates

    location = "Aranos"
    target_search = "Hotel"
    target_radius = 5000
    target_type = "hotel"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)

In [69]:
hotel_data = response.json()
print(json.dumps(hotel_data, indent = 4))

{
    "html_attributions": [],
    "results": [],
    "status": "INVALID_REQUEST"
}

In [55]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

TypeError: iterrows() missing 1 required positional argument: 'self'

In [ ]:
# Add marker layer ontop of heat map


# Display figure